<div class="container-fluid">
  <h1 class="text-center"> {{title}}</h1>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="col-md-6 border border-4 border-info p-5 m-sm-1">
          <app-elements-home></app-elements-home>
        </div>
        <div class="col-md-6 border border-4 border-success p-5 m-sm-1">
          <app-collections-home></app-collections-home>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <button type="button" class="btn btn-success">Success</button> -->
<router-outlet></router-outlet>
